<!DOCTYPE html>
<html lang="es">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

  <div class="container my-5">
    <div class=jumbotron>
      <h1>LOGIN</h1>
      <br>
      <!-- <form class="form" role="form"> -->
      <!-- <form class="form" role="form" action="/login" method="post" autocomplete="off"> -->
      <!-- <form onsubmit="return gologin(this)"> -->

      <div class="form-group">
        <input id='email' name='email' placeholder="Correo Electronico" class="form-control" type="text">
      </div>

      <div class="form-group">
        <input id='password' name='password' placeholder="Password" class="form-control" type="password">
      </div>

      <div class="form-group">
        <!-- <input type="submit" value="Enviar" class="btn btn-success"> -->
        <button class="btn btn-success my-3" onclick="gologin()">Enviar</button>

      </div>
      <!-- </form> -->

      <hr>
      <div class="text-center"></div>
      <button class="btn btn-success my-3" onclick="goSignup()">Registrarse</button>
    </div>
  </div>

  <script>
    function redireccionar(pagina) {
      location.href = pagina;
    }

    function goSignup() {
      redireccionar('/signup');
    }

    async function  redirectIndex(data) {
      
      console.log('      redirectIndex')
console.log(data.token)

      localStorage.setItem('token', data.token)
      const fetchData = {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${data.token}`,
        }
      }

      
    }

    async function gologin() {

      console.log('gologin')

      const data = {
        email: document.getElementById('email').value,
        password: document.getElementById('password').value
      };

      let fetchData = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      }

      fetch('/api/login/', fetchData)
         .then(response => response.json())
        .then(redirectIndex)

    }

  </script>



</body>

</html>